html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.playing-card {
    width: 6rem;
    height: 9rem;
    margin: 5px 5px 5px -30px;
}

.card-icon-red {
    filter: invert(10%) sepia(93%) saturate(5393%) hue-rotate(359deg) brightness(93%) contrast(114%);
}

.card-rank {
    margin: -15px 0 0 -50px;
}